<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stories generate</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.min.js"></script>
    <style>
        * {
            font-family: Helvetica;
        }
        .pane-split {
            display: flex;
            justify-content: space-between;
        }
        ul {
            padding: 0;
            margin: 0;
            width: 30%
        }
        .generated-stuff {
            width: 70%;
        }
    </style>
</head>
<body>
    <div id="app"></div>
     <script type="text/template" class="generatedStuff">
      <div>
        <h2>Main</h2>
        <div class="pane-split">
            <ul>
                <li v-for="(elem, key) in $api.main">
                    <button @click="getRandomItem('main', key)">{{key}}</button>
                </li>
            </ul>
            <div class="generated-stuff">
                
            </div>
        </div>
        <h2>Children</h2>
        <div class="pane-split">
            <ul>
                <li v-for="(elem, key) in $api.children">
                    <button @click="getRandomItem('children', key)">{{key}}</button>
                </li>
            </ul>
            <div class="generated-stuff">
                {{childrenStuff}}
            </div>
        </div>
      </div>
    </script>

    <script src="./index.js"></script>
</body>
</html>